@import url("./nav.css");
@import url("./footer.css");

/* Contact 1 */

.contact-cover-bg{
  background: url("../src/img/all/s1.jpg") center no-repeat;
  background-size: cover;
  min-height: 600px;
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  z-index: -1;
  filter: blur(1.8px)
}
.contact-info {
  padding: 100px 20px 30px 20px;
  min-height: 600px;
  position: relative;
}


.contact-cover {
  background: url("../src/img/all/s1.jpg") center center no-repeat;
  background-size: contain;
  width: 45%;
  height: 700px;
  border-radius: 10px;
  box-shadow: 20px 16px 8px rgb(0 0 0 / 15%);
}
.about {
  padding: 50px;
  color: #fff;
}

.about-header {
  font-weight: 800;
  margin-bottom: 30px;
}

.description {
  text-align: justify;
}

/* Contact main */
.contact-wrap {
  padding: 50px;
}

/* Member contact */
.member-contact-card {
  color: #fff;
  background-color: rgb(31, 84, 33);
  box-shadow: 0 0.26rem 2rem rgb(0 0 0 / 14%);
  padding-bottom: 40px;
}
a{
  color: #fff;
}
.info-header {
  padding: 50px;
  padding-bottom: 0;
  font-weight: 700;
}

.info-slider li{
  padding-inline: 64px;
}

.member-contact-card .row{
  margin: 0;
}

.mem-name{
  font-weight: 600;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .info-header,
  .mem-info{
    text-align: left!important;
  }
}

.mem-link{
  text-transform: uppercase;
  text-decoration:underline;
}

.mem-img{
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Author pump */
#mem1{
  background-image: url("../src/img/author/author1.jpg");
}
#mem2{
  background-image: url("../src/img/author/author2.jpg");
}
#mem3{
  background-image: url("../src/img/author/author3.jpg");
}
#mem4{
  background-image: url("../src/img/author/author4.jpg");
}

/* Contact Form */
.contact-form {
  margin: 20px 0 0 0!important;
  background: #fff;
  padding: 50px 30px;
  box-shadow: 0 0.26rem 2rem 0 rgb(0 0 0 / 14%);
}

.contact-form h3{
  font-weight: 700;
}
.form-input{
  width: 100%;
}
.form-line {
  margin-top: 20px;
}

.contact-form label {
  min-width: 90px;
  font-weight: 600;
}

.contact-form input {
  width: 100%;
  padding: 10px 15px;
}

.contact-form textarea {
  resize: none;
  width: 100%;
  height: 160px;
  margin-left: 4px;
  padding: 10px 15px;
}

.error-line{
  font-weight: 600;
  color: #eb495c;
}

.map {
  width: 100%;
  height: 100%;
  min-height: 300px;
  box-shadow: 0 0.26rem 2rem 0 rgb(0 0 0 / 14%);
}

/* Footer ajustment */
footer {
  padding: 50px 30px!important;
}