@import url("./rule.css");
.navbar {
  z-index: 1000;
  clear: both;
  padding: 10px 30px;
  width: 100%;
}

.navbar-brand img {
  object-fit: cover;
  height: 40px;
}

.navbar.scrolled {
  background-color: #141d2a !important;
  box-shadow: 0px 5px 10px #141d2a6e;
  transition: background-color 200ms linear;
}

.navbar ul{
  list-style-type: none;
}

.navbar-list{
  color: #fff;
  margin-bottom: 0;
}
.navbar-item{
  padding-left: 40px;
}
.navbar-item[current] > a{
  font-weight: bold;
}
.navbar-item a{
  color: #fff;
  text-decoration: none;
}

.navbar-toggle{
  position:fixed;
  right: 30px;
  top: 20px;
  z-index: 1001;
  border: 0;
  background: transparent;
}
.navbar-toggle[data-visible="false"] > .navbar-button{
  background-image: url("../src/svg/toggleNav.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 24px;
  width: 30px;
}
.navbar-toggle[data-visible="true"] > .navbar-button{
  background-image: url("../src/svg/toggleNav-close.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 24px;
  width: 30px;
}

@media (max-width: 768px) {
  .navbar{
    right: 0;
    inset: 0 0 0 50%;
   height: 100vh;
    transform: translateX(100%);
    background-color: #141d2a;
    transition: transform .3s ease-out;
  }
  .navbar[aria-visible="true"]{
    transform: translateX(0%);
  }
  .navbar-list{
    position: absolute;
    left: 0px;
    padding: 0;
    top: 100px;
  }
  .navbar-item{
    padding-top: 30px
  }
  .navbar-brand{
    position: absolute;
    top: 30px;
    left: 40px;
  }
}