@import url("./nav.css");
@import url("./footer.css");
@import url("./slider.css");

/* First component */
.first-component {
  height: 650px;
  background: url("../src/img/news/sliderbg1.JPG") center no-repeat;
  background-size: cover;
  color: #fff;
  padding: 20px;
  position: relative;
}
.firstnews-subtitle {
  margin-bottom: 10px;
  font-weight: 300;
}
.firstnews-header {
  font-size: 3rem;
  font-weight: 700;
}
.firstnews-credit {
  position: absolute;
  bottom: 20px;
  color: #cac8c8;
}

.first-component p {
  max-width: 700px;
}

/* Second component */
.second-component {
  padding: 30px 20px;
  clear: both;
  height: fit-content;
}
.pined-news-wrap {
}
.pined-news,
.pined-news-bg,
.pined-news-border {
  height: 100%;
  transition: all 0.2s;
  cursor: pointer;
}
.pined-news-bg {
  width: 300px;
  padding: 10px;
}
.pined-news-bg:hover {
  transform: scale(1.05);
}
.pined-news-border {
  padding: 30px;
  border: 2px solid #fff;
}
.pined-content {
  width: fit-content;
  background: #fff;
  padding: 10px 20px;
  text-align: center;
  color: #000;
}
/* Image pump */
#pinned1 {
  background: url("../src/img/news/sliderbg1.JPG") center no-repeat;
  background-size: cover;
}
#pinned2 {
  background: url("../src/img/news/sliderbg2.JPG") center no-repeat;
  background-size: cover;
}
#pinned3 {
  background: url("../src/img/news/sliderbg3.JPG") center no-repeat;
  background-size: cover;
}

/* News devider */
.news-devider {
  padding: 0px 30px;
  text-transform: uppercase;
  overflow: hidden;
  text-align: center;
  margin-bottom: 40px;
  position: relative;
}
.latest-header p {
  display: inline-block;
  background: #fff;
  width: fit-content;
}
.latest-header:before,
.latest-header:after {
  content: "";
  position: absolute;
  top: 50%;
  border-bottom: 1px solid;
  border-color: #000;
  width: 540px;
  margin: 0 30px;
}
.latest-header:before {
  right: 0;
}
.latest-header:after {
  left: 0;
}
/* Third component */
.third-component {
  padding: 0px min(50px, 5vw);
}

.news-row {
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 30px;
  display: none;
}
.news-row.showed {
  display: flex;
}
.news-item-wrap {
  padding: 20px 10px;
  border-radius: 5px;
}
.news-item {
  border-radius: 5px;
  max-width: 400px;
  cursor: pointer;
  background: #fff;
  position: relative;
  transition: all 0.2s;
  box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.168);
}
.news-item:hover {
  transform: scale(1.03) !important;
}
.news-image {
  width: 100%;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.news-content {
  padding: 10px 20px;
}

.news-subtitle {
  font-weight: 500;
  color: rgb(10, 201, 51);
}
.news-header {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2; 
  -webkit-box-orient: vertical;
 font-size: 1.4rem;
  margin: 10px 0px;
}
.news-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
          line-clamp: 4; 
  -webkit-box-orient: vertical;
  margin-top: 10px;
}
.news-post-date {
  font-size: 0.8rem;
  opacity: 0.8;
}

/* News paginations */

.pagination-item {
  margin-right: 10px;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid rgba(255, 214, 214, 0.6);
}
.pagination-item.current {
  font-weight: 700;
}
/* Image pump */
#news-img1 {
  background: url("../src/img/news/news1.jpg") center no-repeat;
  background-size: cover;
}
#news-img2 {
  background: url("../src/img/news/news2.jpg") center no-repeat;
  background-size: cover;
}
#news-img3 {
  background: url("../src/img/news/news3.jpg") center no-repeat;
  background-size: cover;
}

#news-img4 {
  background: url("../src/img/news/news4.jpg") center no-repeat;
  background-size: cover;
}
#news-img5 {
  background: url("../src/img/news/news5.jpeg") center no-repeat;
  background-size: cover;
}

#news-img6 {
  background: url("../src/img/news/news6.jpg") center no-repeat;
  background-size: cover;
}

#news-img7 {
  background: url("../src/img/news/news7.jpg") center no-repeat;
  background-size: cover;
}

#news-img8 {
  background: url("../src/img/news/sliderbg2.JPG") center no-repeat;
  background-size: cover;
}

#news-img9 {
  background: url("../src/img/news/news9.jpg") center no-repeat;
  background-size: cover;
}

/* Fourth component */
.fourth-component {
  padding: 20px;
}

.single-post {
  height: 100px;
  width: 450px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
  transition: all 0.2s;
  margin-bottom: 10px;
}
.most-view, .must-read{
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.single-post:hover {
  transform: scale(1.03) !important;
}

.post-info {
  padding: 10px 20px;
}
.post-header {
  font-size: 1.1rem;
}

.post-credit {
  font-size: 0.8rem;
  color: #8d8d8d;
  margin: 0;
}

footer {
  margin-top: 100px;
}
