@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("./loading.css");
@import url("./hvr.css");
html,
body {
  font-family: "Montserrat", sans-serif !important;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.m-button {
  padding: 10px 20px;
  border-radius: 10px;
  background: rgb(149, 12, 23);
  border: none;
  color: #fff;
  box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
  transition: transform 0.3s;
}
.height-100 {
  height: 100% !important;
}

.m-button:hover {
  transform: scale(1.1);
}

*::-webkit-scrollbar {
  -webkit-appearance: none;
}
*::-webkit-scrollbar:vertical {
  width: 11px;
}
*::-webkit-scrollbar:horizontal {
  height: 11px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.5);
}
*::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 8px;
}

.gap-20 {
  gap: 20;
}
