@import url("./nav.css");
@import url("./footer.css");

/* Specific */

/* Header */
.header {
  padding: 150px 0px;
  width: 100%;
  text-align: center;
  background: url("../src/img/all/s1.jpg") center no-repeat;
  background-size: cover;
  font-weight: 800;
  font-size: 4rem;
  color: #fff;
}

.first-component {
  padding: 20px;
}

/* Ads */
.ads {
  height: fit-content;
  padding: 40px 20px;
  max-width: 1180px;
}
.sale-header {
  background: rgb(123, 104, 0);
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}
.sale-container {
  height: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px solid rgb(123, 104, 0);
}
.promo-image {
  height: 100%;
  min-height: 200px;
  background: url("../src/img/all/s2.jpg") center no-repeat;
  background-size: cover;
}
.sale-price .price {
  font-size: 1.3rem;
  font-weight: 600;
  color: rgb(107, 92, 6);
}
.sale-price .old-price {
  font-size: 0.9rem;
  color: rgb(111, 100, 42);
  text-decoration: line-through;
}

.ads button {
  background: rgb(189, 82, 0);
}

/* Service tab */
.service-tab {
  border: 1px solid #e9e9e9;
  padding: 20px 25px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s;
}
.service-tab:hover {
  padding: 20px 25px;
  color: #fff;
  background: rgb(116, 182, 148);
}
.service-tab.focus {
  background: rgb(11, 118, 63);
  color: #fff;
}

.full-service-container {
  max-width: 1140px;
  width: 100%;
}

.service-main-wrap {
  background: #faf9f8;
  border: 1px solid #e9e9e9;
  padding: 64px 50px;
  width: 100%;
}

/* Service catagory */

.service-catagory-header {
  font-weight: 700;
}
.service-catagory ul {
  list-style-type: "✔️";
}

/* Service Item*/

.service-item {
  height: 200px;
  width: 100%;
  box-shadow: 0 0.26rem 2rem 0 rgb(0 0 0 / 14%);
  cursor: pointer;
  padding: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.service-item:hover {
  box-shadow: 0 0.34rem 2.7rem 0 rgb(0 0 0 / 28%);
}

.item-content {
  border: 1px solid #e9e9e9;
  height: 100%;
}
.item-title {
  padding: 10px;
  background: #fff;
  font-weight: 500;
  transition: all 0.3s;
}
.service {
  display: none;
}
.service.current {
  display: flex;
}

/* Special item */
/* Ads */
#service-ads .service-item {
  min-height: 300px;
}

/* Image pump */
#indoor1 {
  background-image: url("../src/img/all/i1.jpg");
}
#indoor2 {
  background-image: url("../src/img/all/i2.JPG");
}
#indoor3 {
  background-image: url("../src/img/all/i3.jpg");
}
#indoor4 {
  background-image: url("../src/img/all/i4.jpg");
  background-size: contain;
}

#outdoor1 {
  background-image: url("../src/img/all/p45.JPG");
  background-position-y: -75px;
}
#outdoor2 {
  background-image: url("../src/img/all/p40.jpg");
}

#ads1 {
  background-image: url("../src/img/all/p39.jpg");
}
#ads2 {
  background-image: url("../src/img/all/p43.jpg");
}

#request1 {
  background-image: url("../src/img/all/p44.jpg");
  min-height: 500px;
}

/* Customer rate */
.customer-rate{
  padding: 60px 30px;
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(23,160,64,1) 2%, rgba(23,160,64,1) 5%, rgba(23,160,64,1) 50%, rgba(23,160,64,1) 94%, rgba(23,160,64,1) 97%, rgba(255,255,255,1) 100%);
}
.customer-rate .read-more{
  color: #fff;
}
.customer-rate .read-more:before,
.customer-rate .read-more:after{
  border-color: #ddd;
} 
.cus-name{
  font-weight: 700;
}
.cus-ref{
  font-size: 1rem;
  color: rgb(67, 170, 98);
}


.customer{
  background: #fff;
  max-width: 400px;
  min-height: 100%;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0.26rem 2rem 0 rgb(0 0 0 / 14%);
}



/* Gallery */
/* Read more */
.read-more-wrap {
  overflow: hidden;
  margin: 30px 0px;
}
.read-more {
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000;
  font-size: 1.2rem;
  position: relative;
  display: inline-block;
  padding: 0px 20px;
}
.read-more:before,
.read-more:after {
  content: "";
  position: absolute;
  top: 50%;
  border-bottom: 1px solid;
  border-color: #ddd;
  width: calc(30vw - 20px);
  margin: 0 30px;
}

.read-more:before {
  right: 100%;
}
.read-more:after {
  left: 100%;
}

/* Gallery */
.gallery {
  padding: 20px;
}

.gallery-item {
  box-shadow: 0 0.26rem 2rem 0 rgb(0 0 0 / 14%);
  border-radius: 5px;
  margin-bottom: 20px;
}
.gallery-item:hover {
  box-shadow: 0 0.34rem 2.7rem 0 rgb(0 0 0 / 28%);
}

.img-wrap {
  cursor: zoom-in;
  width: 100%;
}

.gallery-item img {
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
}
